* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    background-color: black;
}

.logo {
    height: 55px;
    width: 55px;
    border-radius: 15px;
}

.navbar {

    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}