body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 25%;
    height: 65vh;

    background-color: black;
    border-radius: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;

}

.logo {
    height: 75px;
    width: 75px;
    border-radius: 15px;
    margin-top: 30px;
}

.form_login {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.labels {
    text-align: left;
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

input {
    background: gray;
    width: 230px;
    height: 40px;
    border-radius: 10px;
}

input::placeholder{
    color: #000000;
    
}

.btn {
    margin-top: 30px;
    
    width: 230px;
    height: 40px;
    border-radius: 10px;
}

#senha {
    position: relative;
}
