:root {
    --color-purple-neon: #9d4edd; /* Roxo do Diego Lima */
    --color-lime-green: rgb(195, 254, 2); /* Verde Lima */
}



.diego {
    display: flex;
    align-items: center;
    height: 100%;
    width: 280px;

    margin-left: 25px;
}

/* Estilo base dos links da Navbar */
.pgs a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    width: min-content;
    transition: all 0.3s ease; /* Suaviza a troca de cor */
    position: relative;

    /*MANTENDO ALINHAMENTO*/
    padding: 8px 16px; /* Mesmo padding do ativo */
    border: 2px solid transparent; /* Borda invisível para ocupar espaço */
}

/* Efeito Hover (Ao passar o mouse): Fica VERDE NEON */
.pgs a:hover {
    color: var(--color-lime-green);
    text-shadow: 0 0 12px rgba(57, 255, 20, 0.7); /* O brilho verde */
    transform: translateY(-2px); /* Leve subida */
}

/* Estado Ativo (Página Atual): Retângulo Roxo */
.pgs a.active {
    color: var(--color-purple-neon);       /* Cor do texto */
    border: 2px solid var(--color-purple-neon); /* A borda (o retângulo) */
    padding: 8px 16px;                     /* Espaço entre o texto e a borda */
    border-radius: 8px;                    /* Cantos levemente arredondados (opcional) */
    
    /* Efeito de brilho ao redor do retângulo */
    box-shadow: 0 0 20px rgba(157, 78, 221, 0.6), inset 0 0 10px rgba(157, 78, 221, 0.2);    
}

.pgs {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

/* ----------------- FIM DA ESTILIZAÇÃO DA NAVBAR ----------------- */


.topbar {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 30px;
}

.search {
    background: #222;
    border-radius: 6px;
    width: 500px;
    height: 34px;
    border: 2px solid #000;
    color: #ccc;

    padding: 0px 10px;
}

.select {
    background: #222;
    border-radius: 6px;
    padding: 7px 0px;
    border: 2px solid #000;
    color: #ccc;
    
    width: 40%;
    margin-left: 10px;
    min-width: 138px
}

label {
    font-size: 14px;
    color: #ccc;
}

.corpo {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.modulos {
    display: flex;
    width: 100%;

    justify-content: space-between;
}


.modulo {
    background: #1c1c1c;
    border: 1px solid #333;
    border-radius: 8px;

    width: 20%;
    height: 350px;
    
    font-family: Arial, sans-serif;
}

.header-mod {
    background: #222;
    height: 40px;
    user-select: none;

    color:white; font-size: 25px;

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;

}

.header-mod:hover {
    background: #2d2d2d;
}